body {background: #333;}

#page-wrap:after {content: "Smartphone Layout";}

h2 span, section h3 { display:none;}
body {font-size: xx-large;}
footer, input {font-size:large;}

#img_author{width:100px;height:100px;text-align:left; margin:20px;}
#datos_author{text-align:left;float:left;}

.pregunta_list{font-size:14px; text-align: left;}